---
kind: ConfigMap
apiVersion: v1
metadata:
  name: nginx-config
  namespace: nukleros-ingress-system # +operator-builder:field:name=namespace,default="nukleros-ingress-system",type=string
  labels:
    platform.nukleros.io/group: ingress
    platform.nukleros.io/project: nginx-ingress-controller
data:
