---
# +operator-builder:resource:field=externalDNSProvider,value="route53",include
apiVersion: v1
kind: Secret
metadata:
  name: external-dns-route53
  namespace: nukleros-ingress-system # +operator-builder:field:name=namespace,default="nukleros-ingress-system",type=string
stringData:
  EXTERNAL_DNS_TXT_OWNER_ID: external-dns-
  EXTERNAL_DNS_TXT_PREFIX: external-dns-
  EXTERNAL_DNS_PROVIDER: aws
  EXTERNAL_DNS_AWS_ZONE_TYPE: private
  EXTERNAL_DNS_AWS_PREFER_CNAME: "true"
  EXTERNAL_DNS_DOMAIN_FILTER: mydomain.com
  EXTERNAL_DNS_POLICY: sync
  AWS_ACCESS_KEY_ID: ""
  AWS_SECRET_ACCESS_KEY: ""
