apiVersion: platform.addons.nukleros.io/v1alpha1
kind: CertificatesComponent
metadata:
  name: certificatescomponent-sample
spec:
  #collection:
    #name: "supportservices-sample"
    #namespace: ""
  namespace: "nukleros-certs-system"
  certManager:
    cainjector:
      replicas: 2
      image: "quay.io/jetstack/cert-manager-cainjector"
      version: "v1.9.1"
    controller:
      replicas: 2
      image: "quay.io/jetstack/cert-manager-controller"
      version: "v1.9.1"
    webhook:
      replicas: 2
      image: "quay.io/jetstack/cert-manager-webhook"
      version: "v1.9.1"
