---
# +operator-builder:resource:field=externalDNS.provider,value="google",include
apiVersion: v1
kind: Deployment
metadata:
  name: external-dns-google
  labels:
    app: external-dns-google
    app.kubernetes.io/name: external-dns-google
    app.kubernetes.io/instance: external-dns
    platform.kubernetes.io/purpose: dns-updates
  namespace: nukleros-ingress-system # +operator-builder:field:name=namespace,default="nukleros-ingress-system",type=string
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: external-dns-google
  template:
    metadata:
      labels:
        app: external-dns-google
        app.kubernetes.io/name: external-dns-google
        app.kubernetes.io/instance: external-dns
        platform.kubernetes.io/purpose: dns-updates
    spec:
      serviceAccountName: external-dns
      containers:
        - name: external-dns
          # +operator-builder:field:name=externalDNS.image,default=k8s.gcr.io/external-dns/external-dns,type=string,replace="externalDNSImage"
          # +operator-builder:field:name=externalDNS.version,default=v0.12.2,type=string,replace="externalDNSVersion"
          image: externalDNSImage:externalDNSVersion
          args:
            - --source=service
            - --source=ingress
            - --registry=txt
          envFrom:
            - secretRef:
                name: external-dns-google
          imagePullPolicy: IfNotPresent
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              cpu: 25m
              memory: 32Mi
            limits:
              cpu: 50m
              memory: 64Mi
      securityContext:
        fsGroup: 1001
        runAsUser: 1001
        runAsGroup: 1001
        runAsNonRoot: true
      nodeSelector:
        kubernetes.io/os: linux
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - external-dns-google
  replicas: 1
