# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/setup.addons.nukleros.io_supportservices.yaml
- bases/application.addons.nukleros.io_databasecomponents.yaml
- bases/platform.addons.nukleros.io_certificatescomponents.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patchesStrategicMerge:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- patches/webhook_in_supportservices.yaml
#- patches/webhook_in_databasecomponents.yaml
#- patches/webhook_in_certificatescomponents.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable webhook, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- patches/cainjection_in_supportservices.yaml
#- patches/cainjection_in_databasecomponents.yaml
#- patches/cainjection_in_certificatescomponents.yaml
#+kubebuilder:scaffold:crdkustomizecainjectionpatch

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
